<div class="card mb-3">
  <h2 class="card-header h4">
    Litter #<%= litter.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Litter name</dt>
      <dd><%= litter.litter_name %></dd>

      <dt>Sire</dt>
      <dd>
        <% if @litter.sire.present? %>
          <%= link_to litter.sire, litter.sire %>
        <% end %>
      </dd>

      <dt>Bitch</dt>
      <dd>
        <% if @litter.bitch.present? %>
          <%= link_to litter.bitch, litter.bitch %>
        <% end %>
      </dd>

      <dt>Puppy count</dt>
      <dd><%= litter.puppy_count %></dd>

      <dt>Due date</dt>
      <dd><%= litter.due_date %></dd>

      <dt>Puppy release date</dt>
      <dd><%= litter.puppy_release_date %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back litter, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_litter_url(litter), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to litter, method: :delete, data: { confirm: "Do you really want to delete this litter?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(litter.updated_at) %> ago
  </div>
</div>
