<% was_validated = litter.errors.any? %>

<%= form_with(model: litter, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for litter_name start -->
  <div class="form-group">
    <% litter_name_class = "form-control" %>
    <% litter_name_was_invalid = litter.errors.include?(:litter_name) %>

    <% if was_validated %>
      <% if litter_name_was_invalid %>
        <% litter_name_class << " is-invalid" %>
      <% else %>
        <% litter_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :litter_name %>
    <!-- Input for litter_name start -->
    <%= f.text_field :litter_name, class: litter_name_class, placeholder: "Enter litter name" %>
    <!-- Input for litter_name end -->
    <% if litter_name_was_invalid %>
      <% litter.errors.full_messages_for(:litter_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for litter_name end -->
  <!-- Label and input for sire_id start -->
  <div class="form-group">
    <% sire_class = "form-control" %>
    <% sire_was_invalid = litter.errors.include?(:sire) %>

    <% if was_validated %>
      <% if sire_was_invalid %>
        <% sire_class << " is-invalid" %>
      <% else %>
        <% sire_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :sire_id %>
    <!-- Input for sire_id start -->
    <%= f.number_field :sire_id, class: sire_class, placeholder: "Enter sire" %>
    <!-- Input for sire_id end -->
    <% if sire_was_invalid %>
      <% litter.errors.full_messages_for(:sire).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for sire_id end -->
  <!-- Label and input for bitch_id start -->
  <div class="form-group">
    <% bitch_class = "form-control" %>
    <% bitch_was_invalid = litter.errors.include?(:bitch) %>

    <% if was_validated %>
      <% if bitch_was_invalid %>
        <% bitch_class << " is-invalid" %>
      <% else %>
        <% bitch_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :bitch_id %>
    <!-- Input for bitch_id start -->
    <%= f.number_field :bitch_id, class: bitch_class, placeholder: "Enter bitch" %>
    <!-- Input for bitch_id end -->
    <% if bitch_was_invalid %>
      <% litter.errors.full_messages_for(:bitch).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for bitch_id end -->
  <!-- Label and input for puppy_count start -->
  <div class="form-group">
    <% puppy_count_class = "form-control" %>
    <% puppy_count_was_invalid = litter.errors.include?(:puppy_count) %>

    <% if was_validated %>
      <% if puppy_count_was_invalid %>
        <% puppy_count_class << " is-invalid" %>
      <% else %>
        <% puppy_count_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :puppy_count %>
    <!-- Input for puppy_count start -->
    <%= f.number_field :puppy_count, class: puppy_count_class, placeholder: "Enter puppy count" %>
    <!-- Input for puppy_count end -->
    <% if puppy_count_was_invalid %>
      <% litter.errors.full_messages_for(:puppy_count).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for puppy_count end -->
  <!-- Label and input for due_date start -->
  <div class="form-group">
    <% due_date_class = "form-control" %>
    <% due_date_was_invalid = litter.errors.include?(:due_date) %>

    <% if was_validated %>
      <% if due_date_was_invalid %>
        <% due_date_class << " is-invalid" %>
      <% else %>
        <% due_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :due_date %>
    <!-- Input for due_date start -->
    <%= f.datetime_select :due_date, class: due_date_class, placeholder: "Enter due date" %>
    <!-- Input for due_date end -->
    <% if due_date_was_invalid %>
      <% litter.errors.full_messages_for(:due_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for due_date end -->
  <!-- Label and input for puppy_release_date start -->
  <div class="form-group">
    <% puppy_release_date_class = "form-control" %>
    <% puppy_release_date_was_invalid = litter.errors.include?(:puppy_release_date) %>

    <% if was_validated %>
      <% if puppy_release_date_was_invalid %>
        <% puppy_release_date_class << " is-invalid" %>
      <% else %>
        <% puppy_release_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :puppy_release_date %>
    <!-- Input for puppy_release_date start -->
    <%= f.datetime_select :puppy_release_date, class: puppy_release_date_class, placeholder: "Enter puppy release date" %>
    <!-- Input for puppy_release_date end -->
    <% if puppy_release_date_was_invalid %>
      <% litter.errors.full_messages_for(:puppy_release_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for puppy_release_date end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
