<%= search_form_for @q, :class => collapse_search_form, :id => "litters_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :litter_name_cont, "Litter name contains" %>
    <%= f.text_field :litter_name_cont, :class => "form-control", :placeholder => "Litter name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :puppy_release_date, "Puppy release date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='puppy_release_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :puppy_release_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Puppy release date greater than or equal to", :data => {:target => '#puppy_release_dategteqPicker'} %>
          <div class="input-group-append" data-target='#puppy_release_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='puppy_release_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :puppy_release_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Puppy release date less than or equal to", :data => {:target => '#puppy_release_datelteqPicker'} %>
          <div class="input-group-append" data-target='#puppy_release_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#puppy_release_dategteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#puppy_release_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#puppy_release_dategteqPicker').on("dp.change", function (e) {
              $('#puppy_release_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#puppy_release_datelteqPicker').on("dp.change", function (e) {
              $('#puppy_release_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :due_date, "Due date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='due_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :due_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Due date greater than or equal to", :data => {:target => '#due_dategteqPicker'} %>
          <div class="input-group-append" data-target='#due_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='due_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :due_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Due date less than or equal to", :data => {:target => '#due_datelteqPicker'} %>
          <div class="input-group-append" data-target='#due_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#due_dategteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#due_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#due_dategteqPicker').on("dp.change", function (e) {
              $('#due_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#due_datelteqPicker').on("dp.change", function (e) {
              $('#due_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :puppy_count, "Puppy count" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :puppy_count_gteq, :class => "form-control", :placeholder => "Puppy count greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :puppy_count_lteq, :class => "form-control", :placeholder => "Puppy count less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :dog_profiles_name_cont, "Dog profiles name contains" %>
    <%= f.text_field :dog_profiles_name_cont, :class => "form-control", :placeholder => "Dog profiles name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :sire_name_cont, "Sire name contains" %>
    <%= f.text_field :sire_name_cont, :class => "form-control", :placeholder => "Sire name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :bitch_name_cont, "Bitch name contains" %>
    <%= f.text_field :bitch_name_cont, :class => "form-control", :placeholder => "Bitch name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/litters" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#litters_filters">
  Show filters
</a>
