<%= form_with(model: @puppy_profile, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :litter_id, value: @litter.id %>

  <div class="form-check">
    <%= f.check_box :alpha_true, class: "form-check-input" %>
    <%= f.label :alpha_true, class: "form-check-label" %>
  </div>

  <div class="form-check">
    <%= f.check_box :runt_true, class: "form-check-input" %>
    <%= f.label :runt_true, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :activity_level %>

    <%= f.select :activity_level, options_for_select(PuppyProfile.activity_levels.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.submit "Create puppy profile", class: "btn btn-block btn-outline-secondary" %>
<% end %>
