<% was_validated = user_profile.errors.any? %>

<%= form_with(model: user_profile, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for username start -->
  <div class="form-group">
    <% username_class = "form-control" %>
    <% username_was_invalid = user_profile.errors.include?(:username) %>

    <% if was_validated %>
      <% if username_was_invalid %>
        <% username_class << " is-invalid" %>
      <% else %>
        <% username_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :username %>
    <!-- Input for username start -->
    <%= f.text_field :username, class: username_class, placeholder: "Enter username" %>
    <!-- Input for username end -->
    <% if username_was_invalid %>
      <% user_profile.errors.full_messages_for(:username).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for username end -->
  <!-- Label and input for breeder_true start -->
  <div class="form-check">
    <% breeder_true_class = "form-check-input" %>
    <% breeder_true_was_invalid = user_profile.errors.include?(:breeder_true) %>

    <% if was_validated %>
      <% if breeder_true_was_invalid %>
        <% breeder_true_class << " is-invalid" %>
      <% else %>
        <% breeder_true_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :breeder_true, class: "form-check-label" do %>
      <%= f.check_box :breeder_true, class: breeder_true_class %> Breeder true
    <% end %>
    <% if breeder_true_was_invalid %>
      <% user_profile.errors.full_messages_for(:breeder_true).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for breeder_true end -->
  <!-- Label and input for home_activity_level start -->
  <div class="form-group">
    <% home_activity_level_class = "form-control" %>
    <% home_activity_level_was_invalid = user_profile.errors.include?(:home_activity_level) %>

    <% if was_validated %>
      <% if home_activity_level_was_invalid %>
        <% home_activity_level_class << " is-invalid" %>
      <% else %>
        <% home_activity_level_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :home_activity_level %>
    <!-- Input for home_activity_level start -->
    <%= f.select :home_activity_level, options_for_select(UserProfile.home_activity_levels.keys), {}, class: "form-control" %>
    <!-- Input for home_activity_level end -->
    <% if home_activity_level_was_invalid %>
      <% user_profile.errors.full_messages_for(:home_activity_level).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for home_activity_level end -->
  <!-- Label and input for children_present start -->
  <div class="form-check">
    <% children_present_class = "form-check-input" %>
    <% children_present_was_invalid = user_profile.errors.include?(:children_present) %>

    <% if was_validated %>
      <% if children_present_was_invalid %>
        <% children_present_class << " is-invalid" %>
      <% else %>
        <% children_present_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :children_present, class: "form-check-label" do %>
      <%= f.check_box :children_present, class: children_present_class %> Children present
    <% end %>
    <% if children_present_was_invalid %>
      <% user_profile.errors.full_messages_for(:children_present).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for children_present end -->
  <!-- Label and input for cat_present start -->
  <div class="form-check">
    <% cat_present_class = "form-check-input" %>
    <% cat_present_was_invalid = user_profile.errors.include?(:cat_present) %>

    <% if was_validated %>
      <% if cat_present_was_invalid %>
        <% cat_present_class << " is-invalid" %>
      <% else %>
        <% cat_present_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cat_present, class: "form-check-label" do %>
      <%= f.check_box :cat_present, class: cat_present_class %> Cat present
    <% end %>
    <% if cat_present_was_invalid %>
      <% user_profile.errors.full_messages_for(:cat_present).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for cat_present end -->
  <!-- Label and input for home_location start -->
  <div class="form-group">
    <% home_location_class = "form-control" %>
    <% home_location_was_invalid = user_profile.errors.include?(:home_location) %>

    <% if was_validated %>
      <% if home_location_was_invalid %>
        <% home_location_class << " is-invalid" %>
      <% else %>
        <% home_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :home_location %>
    <!-- Input for home_location start -->
    <%= f.text_field :home_location, class: home_location_class, placeholder: "Enter home location" %>
    <!-- Input for home_location end -->
    <% if home_location_was_invalid %>
      <% user_profile.errors.full_messages_for(:home_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for home_location end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
