<%= form_with(model: @buyer_favorite, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user_profile.id %>

  <div class="form-group">
    <%= f.label :puppy_id %>

    <%= f.collection_select :puppy_id, PuppyProfile.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create buyer favorite", class: "btn btn-block btn-outline-secondary" %>
<% end %>
