<%= form_with(model: @breeder_review, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.hidden_field :buyer_id, value: @user_profile.id %>

  <%= f.submit "Create breeder review", class: "btn btn-block btn-outline-secondary" %>
<% end %>
