<%= form_with(model: @litter, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :litter_name %>

    <%= f.text_field :litter_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :sire_id %>

    <%= f.collection_select :sire_id, SireProfile.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :bitch_id, value: @bitch_profile.id %>

  <div class="form-group">
    <%= f.label :puppy_count %>

    <%= f.text_field :puppy_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :due_date %>
    <%= f.datetime_select :due_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :puppy_release_date %>
    <%= f.datetime_select :puppy_release_date, class: "form-control" %>
  </div>

  <%= f.submit "Create litter", class: "btn btn-block btn-outline-secondary" %>
<% end %>
