<%= form_with(model: @buyer_favorite, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, UserProfile.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :puppy_id, value: @puppy_profile.id %>

  <%= f.submit "Create buyer favorite", class: "btn btn-block btn-outline-secondary" %>
<% end %>
