<div class="card mb-3">
  <h2 class="card-header h4">
    Buyer Favorite #<%= buyer_favorite.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <!-- Display user_id start -->
      <dd>
        <% if @buyer_favorite.user.present? %>
          <%= link_to buyer_favorite.user, buyer_favorite.user %>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>Puppy</dt>
      <!-- Display puppy_id start -->
      <dd>
        <% if @buyer_favorite.puppy.present? %>
          <%= link_to buyer_favorite.puppy, buyer_favorite.puppy %>
        <% end %>
      </dd>
      <!-- Display puppy_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back buyer_favorite, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link buyer_favorite start -->
      <div class="col">
        <%= link_to edit_buyer_favorite_url(buyer_favorite), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link buyer_favorite end -->

      <!-- Delete link buyer_favorite start -->
      <div class="col">
        <%= link_to buyer_favorite, method: :delete, data: { confirm: "Do you really want to delete this buyer_favorite?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link buyer_favorite end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(buyer_favorite.updated_at) %> ago
  </div>
</div>
