<% was_validated = breeder_review.errors.any? %>

<%= form_with(model: breeder_review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for description start -->
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = breeder_review.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <!-- Input for description start -->
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <!-- Input for description end -->
    <% if description_was_invalid %>
      <% breeder_review.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for description end -->
  <!-- Label and input for buyer_id start -->
  <div class="form-group">
    <% buyer_class = "form-control" %>
    <% buyer_was_invalid = breeder_review.errors.include?(:buyer) %>

    <% if was_validated %>
      <% if buyer_was_invalid %>
        <% buyer_class << " is-invalid" %>
      <% else %>
        <% buyer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :buyer_id %>
    <!-- Input for buyer_id start -->
    <%= f.collection_select :buyer_id, UserProfile.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for buyer_id end -->
    <% if buyer_was_invalid %>
      <% breeder_review.errors.full_messages_for(:buyer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for buyer_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
